.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 2rem;
    background-color: #414A4D;
    color: aliceblue;
    font-size: 1.5rem;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 2.5rem;
}
.nav>button{
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    border: 1px aliceblue solid;
    border-radius: 5px;
}
.routerLink{
    transition: text-decoration 2s;
    color: aliceblue;
    font-size: 1.2rem;
}
.routerLink:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}